@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Jost:wght@700&family=Krona+One&display=swap');

.parentCard {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #000;
    align-items: center;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: space-evenly;

}

.heading {
    position: relative;
    text-align: center;
    font-family: Krona One;
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    color: transparent;
    letter-spacing: 5px;
    margin-top: 1rem;
    margin-bottom: 2rem;

}

.heading::before {
    content: "Events";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    /* font-size: 6.25rem; */
    font-style: normal;
    -webkit-text-stroke: 6px rgba(255, 255, 255, 0);
    /* Standard syntax */
    -webkit-text-fill-color: black;
    color: black;
    background: linear-gradient(to right, rgba(73, 73, 73, 1), rgba(255, 255, 255, 1));
    -webkit-background-clip: text;
    background-clip: text;
}

.wrapper {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    width: 100vw;
}



@media (min-width: 800px) {
    .wrapper {
        width: 100vw;
        padding-left: 2rem;
        padding-right: 2rem;
        display: grid;
        /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
        grid-template-columns: repeat(3, 1fr); /* ye line add kari hai if problem occur remove this and uncomment above one */
        gap: 20px;
        column-gap: 2rem;
        justify-content: space-between; /* Adjusted to space-between */
    }}

@media screen and (max-width: 800px) {
    .heading {
        font-size: 5rem;
    }
}

@media screen and (max-width:600px) {
    .heading {
        font-size: 3rem;
    }

    .heading {
        font-family: 3rem;
    }

}